@model Dictionary<string, string>

@{
    ViewData["Title"] = "Home Page";
}

<hr />

<button type="button">
    @Html.ActionLink("Run all tests", "RunAllTests", "Home")
</button> 

<hr />                       

@foreach (var kvp in Model)
{
    <p>
        <label>@kvp.Key</label>
        <a asp-controller="Home"
           asp-action="RunConcreteTest"
           asp-route-scriptName="@kvp.Key">
            Run this test</a>
    </p>
}


